<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="success-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .tab{
        display:inline-flex;
        width:100%;
        justify-content:center;
        border:0;
      }
      .content{
        border:0px;
        font-size:16px;
        width: 70%;
        display:block;
        justify-content: space-around;
        align-items: center;
      }
      fieldset{
        border:0px;
        display: flex;
        justify-content:center;
      }
      .btn-purple{
        display:flex;
        width:25%;
        justify-content:center;
        height:30px;
        align-items:center;
        background-color:#6C80C7;
        color:#FFF;
        border:0px;
        border-radius:8px;
        font-size:10px;
      }
      .text-muted{
        background:#999;
        color:#999;
        text-align:justify;
      }
      .content h2{
        text-align:center;
        font-size:20px;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <section class="tab">
      <article class="content">
        <h2>Success!</h2>
        <p class="text-muted">Lorem ipsum text info data</p>
        <p class="text-muted">Lorem ipsum text info data</p>
        <p class="text-muted">Lorem ipsum text info data</p>
        <fieldset>
          <button type="button" class="btn-purple">Terminate</button>
        </fieldset>
      </article>
    </section>
  </template>

  <script>
    /**
     * `success-element`
     * Success Element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccessElement extends Polymer.Element {
      static get is() { return 'success-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'success-element'
          }
        };
      }
    }

    window.customElements.define(SuccessElement.is, SuccessElement);
  </script>
</dom-module>
